.library {
  width: 20rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f8f7f7;
  border-radius: 20px;
  box-shadow: 2px 2px 50px #acabab;
  overflow: scroll;
  transition: all 0.5s ease;
  .logo {
    margin: 2.3rem;
    transition: all 0.8s ease;
  }
}

.library-status {
  transform: translateX(-100%);
  opacity: 0.1;
}

.library-song {
  margin: 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
  cursor: pointer;
  img {
    max-width: 25%;
    border-radius: 50%;
  }
  &:hover {
    background-color: #e9e9e9;
  }
}

.selected {
  background-color: rgb(236, 213, 134);
  &:hover {
    background-color: rgb(236, 213, 134);
  }
}

.song-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h3,
  i {
    font-size: 0.7rem;
    margin: 0px 10px;
  }
  h3 {
    font-size: 1rem;
    min-width: 200px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c0bfbf transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0bfbf;
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
