.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  input {
    width: 100%;
    padding: 1rem 0;
    margin: 0 0.7rem;
  }
  p {
    margin: 0rem 0.5rem;
  }
}

.play-control {
  width: 30%;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  svg {
    cursor: pointer;
  }
}
.volume-container {
  margin-top: 25px;
  width: 20%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  input {
    flex: 1;
    margin: 0rem 0.7rem;
  }
}
.icon {
  color: #585858;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 70%;

    input {
      min-width: 200px;
    }
  }
  .play-control {
    min-width: 250px;
  }
}
