.song-container {
  margin-top: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 20%;
    min-width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-song {
  animation: rotate 20s linear forwards infinite;
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 200px;
  }
}
