.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    min-width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 300px;
  }
}
